@charset "UTF-8";
*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
}

$textColor: #7C7C7C;
$mainColor: #B3D3DB;

body {
  font-family:  'Concert One', 'M PLUS 1p', cursive, sans-serif;
  font-size: 1.6em;
  color: $textColor;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}

// header,main,section,footer, div, ul, li, h1,h2,h3{
//   background-color: rgba(0,200,100,0.1);
//   border: 1px solid rgba(0,0,0,0.1);
// }

/* -------------------------------------------- */
/* 共通設定*/
/* -------------------------------------------- */
/*インナー*/
.inner{
  margin: 0 auto;
  max-width: 960px;
  // background-color: rgba(68, 36, 53, 0.2);
  padding: 0 4%;
}

@media (min-width: 1024px){
  .inner{
    padding: 0;
  }
}
/*インナーここまで*/

/*セクション*/
section{
  padding: 20px 0;
}

@media (min-width: 768px){
  section{
    padding: 40px 0;
  }
}

@media (min-width: 1024px){
  section{
    padding: 60px 0;
  }
}
/*セクションここまで*/

/*各セクションの見出し*/
.section-heading{
  color: $textColor;
  font-size: 3rem;
  letter-spacing: 0.1em;
  line-height: 1.2;
  margin-bottom: 20px;
}

@media (min-width: 768px){
  .section-heading{
    font-size: 4.8rem;
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px){
  .section-heading{
    margin-bottom: 60px;
  }
}
/*各セクションの見出しここまで*/

/*スライド用CSS*/
.gallery-right-image{
  display: none;
}

.active{
  display: block;
}
/*スライド用CSSここまで*/

/*サムネイル画像*/
.work-thumbnail:hover, .gallery-thumbnail:hover{
  opacity: .8;
  cursor: pointer;
}

/* -------------------------------------------- */
/* ▼スマホ*/
/* -------------------------------------------- */

/* -------------------------------------------- */
/* header*/
/* -------------------------------------------- */
#topPage{
  height: 600px;
  width: 100%;
  position: relative;
  // background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);
  overflow: hidden; 
}

.bg{
  // height: 100%;
  .main_img{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    animation: anime 24s infinite ease-in;
    opacity: 0;
  }  
}

.main_img:first-child {
  background-position: 67%; 
}

  .main_img:nth-of-type(2) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    background-position: 90% 10%; 
  }

  .main_img:nth-of-type(3) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s; 
    background-position: 64% 80%;
  }

  .main_img:nth-of-type(4) {
    -webkit-animation-delay: 18s;
    animation-delay: 18s; 
    background-position: 34% ;
  }

  // .main_img:nth-of-type(5) {
  //   -webkit-animation-delay: 24s;
  //   animation-delay: 24s; 
// }

  // .main_img:nth-of-type(6) {
  //   -webkit-animation-delay: 30s;
  //   animation-delay: 30s; 
// }

/*animation keyframe*/
@keyframes anime {
  0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    100% { 
      opacity: 0 
    }
}

/*animation keyframeここまで*/    
header{
  .header-nav{
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 0 4%;
    background-color: rgba(184, 172, 200, .5);
    height: 50px;
    border-top: 6px solid $mainColor;
    border-bottom: 6px solid $mainColor;
    z-index: 2;
    position: absolute;
      li{
        &:last-child{
          margin-right: 0;
        }
        a{
          display: inline-block;
          line-height: 1.25;
          letter-spacing: 0.1em;
          color: #fff;
          position: relative;
          overflow: hidden;
          font-size: calc(1.4rem + ((1vw - 0.375rem) * 3.0769));
          min-height: 0vw;
            .border {
              position: absolute;
              display: block;
              width: 2px;
              background-color: #fff;
              overflow: hidden;
              transition: .4s;
                &.bottom {
                  width: 100%;
                  right: 0;
                  bottom: 0;
                  transform: translate3d(-100%, 0, 0);
                }
            }
            &:hover .border {
              transform: translate3d(0, 0, 0);
              height: 3px;
            }
        }
      }
    }
    .fas{
      margin-left: 4px;
    }
}

/* -------------------------------------------- */
/* works*/
/* -------------------------------------------- */
.works{
  background: url(../images/p_pt_0225_m_pt.jpg) ;
  background-attachment: fixed;
  .works-wrapper{
    text-align: right;
      .section-heading{
        text-align: left;
      }
      .grid-container{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px ;
        gap: 8px 10px;
        justify-content: center;
        margin-bottom: 20px;
        .work-thumbnail{
            height: 100%;
            width: 100%;
              img{
                object-fit: cover;
                width: 100px;
                height: 100px;
              }
          }
      }
    .moreBtn{
      display: inline-block;
      font-size: 2rem;
      border-bottom: 2px solid #7c7c7c;
      letter-spacing: 0.1em;
        &:hover{
          opacity: .8;
        }
    }
  }
}

.modal{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;

  #big{
    position: absolute;
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
    left: 0;
    right: 0;
    .fa-times{
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 3rem;
      cursor: pointer;
      color: #fff;
    }
  }
}

/* -------------------------------------------- */
/* prof*/
/* -------------------------------------------- */
.prof{
  background-color: $mainColor;
  .prof-wrapper{
    .prof-img-wrapper{
      margin-bottom: 16px;
      width: 345px;
      margin: 0 auto 20px;
        img{
          width: 345px;
          height: 213px;
          object-fit: cover;
          border-radius: 46px;
        }
    }
    .prof-text-wrapper{
      font-size: 1.6rem;
      width: 315px;
      margin: 0 auto;
        li:not(:last-child){
          margin-bottom: 16px;
        }
        .name{
          font-weight: bold;
        }
        .intro{
          margin-bottom: 16px;
        }
        .link{
          .fab{
            color: #00acee;
          }
          a{
            color: blue;
          }
        }
    }
  }
}

/* -------------------------------------------- */
/* contact*/
/* -------------------------------------------- */
.contact-wrapper{
  p{
    margin-bottom: 30px;
    text-align: center;
  }
  form{
    label{
      display: block;
      font-size: 1.4rem;
      margin-bottom: 8px;
      letter-spacing: 0.1em;
    } 
    input, textarea{
      width: 100%;
      height: 40px;
      border: 1px #333 solid;
      border-radius: 5px;
      margin-bottom: 16px;
    }
    textarea{
      height: 160px;
      margin-bottom: 20px;
    }
    .btn{
      background-color: #B8ACC8;
      color: #fff;
      display: block;
      text-align: center;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 5px;
      font-size: 2rem;
      letter-spacing: 0.1em;
        &:hover{
          opacity: .8;
        }
    }
  }
}

/* -------------------------------------------- */
/* footer*/
/* -------------------------------------------- */
footer{
  background-color: $mainColor;
  color: $textColor;
  text-align: center;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 1.2rem;
  position: relative;
  .to-top{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #fff;
    bottom: 10px;
    right: 0;
    .fas{
      text-align: center;
      line-height: 50px;
    }

  }
}

/* -------------------------------------------- */
/* galleryPage*/
/* -------------------------------------------- */
.gallery{
  padding-top: 60px;
  position: relative;
  background: url(../images/p_pt_0225_m_pt.jpg);
    .gallery-wrapper{
      h1{
        font-size: 5rem;
        text-align: center;
        margin-bottom: 20px;
        letter-spacing: 0.1em;
      }
      .gallery-container{
        .pc-icon-wrapper{
          display: none;
        }
        .gallery-image-container{
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          .gallery-image-wrapper{
            width: 46%;
              .gallery-image{
                li{
                  height: 284px;
                  width: 100%;
                  min-width: 160px;
                    img{
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                }
              }
              .gallery-image-explain{
                display: none;
              }
          }
        }
      }
      .icon-wrapper{
        .icon-container{
          display: grid;
          gap: 10px 10px;
          grid-template-columns: repeat(7, 100px); //数が増えたら左側の数字を変えていく
          grid-template-rows: 100px 100px;
          overflow: scroll;
          width: 100%;
            .gallery-thumbnail{
              height: 100%;
              width: 100%;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
        }
      }
    }
}

/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px){

/* -------------------------------------------- */
/* header*/
/* -------------------------------------------- */
#topPage{
  height: 545px;
}
  header{
    .header-nav{
      height: 70px;
      li{
        a{
          font-size: 3.2rem;
        }
      }
    }
  }
  .bg{
    // height: 100%;
    .main_img{
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      animation: anime 24s infinite ease-in;
      opacity: 0;
    }  
  }

  .main_img:first-child {
    background-position: 100% 30%;
  }
  .main_img:nth-of-type(2) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s; 
  }

  .main_img:nth-of-type(3) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s; 
    background-position: 90% 90%;
  }

  .main_img:nth-of-type(4) {
    -webkit-animation-delay: 18s;
    animation-delay: 18s; 
  }

  @keyframes anime {
    0% {
        opacity: 0;
      }
      10% {
        opacity: 1;
      }
      20% {
        opacity: 1;
      }
      35% {
        opacity: 0;
      }
      100% { 
        opacity: 0 
      }
  }


/* -------------------------------------------- */
/* works*/
/* -------------------------------------------- */
  .works{
    .works-wrapper{
      .grid-container{
        display: grid;
        grid-template-columns: 200px 200px 200px ;
        grid-template-rows: 200px 200px 200px 200px  ;
        margin-bottom: 30px;
        .work-thumbnail{
          height: 100%;
          width: 100%;
          img{
            object-fit: cover;
            width: 200px;
            height: 200px;
          }
        }
      }
      .moreBtn{
        font-size: 3.2rem;
        border-bottom: 4px solid #7c7c7c;
      }
    }
  }

  .modal{
    #big{
      width: 70%;
      max-width: 800px;
      .fa-times{
        font-size: 4rem;
      }
    }
  }

/* -------------------------------------------- */
/* prof*/
/* -------------------------------------------- */
  .prof{
    .prof-wrapper{
      .prof-img-wrapper{
        width: 573px;
        margin: 0 auto 30px; 
          img{
            width: 573px;
            height: 275px;
            }
      }
      .prof-text-wrapper{
        font-size: 2rem;
        padding:  0;
        margin: 0 auto;
        width: 573px;
      }
    }
  }

/* -------------------------------------------- */
/* contact*/
/* -------------------------------------------- */
  .contact-wrapper{
    p{
      br{
        display: none;
      }
    }
    form{
      width: 570px;
      margin: 0 auto;
        label{
          font-size: 2rem;
        }
        .btn{
          margin: 0 auto;
          width: 180px;
        }
    }
  }

/* -------------------------------------------- */
/* footer*/
/* -------------------------------------------- */
  footer{
    font-size: 1.4rem;
  }

/* -------------------------------------------- */
/* galleryPage*/
/* -------------------------------------------- */
  .gallery{
    padding-top: 90px;
    position: relative;
      .gallery-wrapper{
        h1{
          font-size: 5.6rem;
          margin-bottom: 30px;
        }
        .gallery-container{
          margin-bottom: 30px;
          .gallery-image-container{
            .gallery-image-wrapper{
              width: 48%;
              position: relative;
              .gallery-image{
                li{
                  width: 100%;
                  height: 453px;
                    img{
                      width: 100%;
                      height: 100%;
                    }
                }
              }
              .gallery-image-explain{
                display: block;
                background-color: rgba(255, 255, 255, 0.5);
                width: 76%;
                padding: 16px 16px 0;
                position: absolute;
                right: 0;
                top: 58%;
                font-family: 'M PLUS 1p';
                min-height: 150px;
                  .works-name, .chara-name{
                    font-weight: bold;
                    font-size: 1.6rem;
                    margin-bottom: 8px;
                    color: #000;
                  }
                  .explain{
                    font-size: 1.4rem;
                    color: #000;
                    overflow: scroll;
                    height: 80px;
                  }
              }
            }

          }
          .icon-wrapper{
              .icon-container{
                gap: 16px 16px;
                grid-template-columns: repeat(14, 200px); //数が増えたら左側の数字を変えていく
                grid-template-rows: 200px;
                grid-auto-flow: rows;
                .gallery-thumbnail{
                  height: 100%;
                  width: 100%;
                    img{
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                }
              }
          }
        }
      }
  }
}

/* ------------------------------------ */
/* ▼PC用 */
/* ------------------------------------ */
@media (min-width: 1024px) {
/* -------------------------------------------- */
/* header*/
/* -------------------------------------------- */
#topPage{
  height: 812px;
}
  header{
    .header-nav{
      li{
        a{
          font-size: 3.2rem;   
        }
      }
    }
  }
  
/* -------------------------------------------- */
/* works*/
/* -------------------------------------------- */
  .works{
    .works-wrapper{
      .grid-container{
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        grid-template-rows: 200px 200px 200px ;
        margin-bottom: 60px;
        .work-thumbnail{
          height: 100%;
          width: 100%;
            }
        }
      }
    }
  

  .modal{
    #big{
      width: 35%;
      max-width: 800px;
      .fa-times{
        font-size: 4rem;
      }
    }
  }

/* -------------------------------------------- */
/* prof*/
/* -------------------------------------------- */
  .prof{
    height: 605px;
      .prof-wrapper{
        .prof-container{
          display: flex;
          justify-content: space-between;
          align-items: center;
            .prof-img-wrapper{
              width: 367px;
              margin: 0 ; 
                img{
                  width: 367px;
                  height: 275px;
                }
            }
            .prof-text-wrapper{
              font-size: 2rem;
              padding:  16px;
              width: 573px;
              margin: 0;
            }
        }
      }
  }


/* -------------------------------------------- */
/* contact*/
/* -------------------------------------------- */
  .contact-wrapper{
    p{
      margin-bottom: 60px;
      text-align: center;
        br{
          display: none;
        }
    }
    form{
      input, textarea{
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

/* -------------------------------------------- */
/* galleryPage*/
/* -------------------------------------------- */
  .gallery{
    position: relative;
      .gallery-wrapper{
        h1{
          font-size: 10rem;
          margin-bottom: 40px;
        }
        .gallery-container{
          margin-bottom: 0px;
          display: flex;
          justify-content: space-between;
            .gallery-image-container{
              order: 1;
              .gallery-image-wrapper{
                width: 340px;
                position: relative;
                  &:first-child{
                    margin-right: 15px;;
                  }
                  .gallery-image
                    li{
                      height: 604px;
                      width: 100%;
                        img{
                          width: 100%;
                          height: 100%;
                        }
                    }
                  .gallery-image-explain{
                    top: 67%;
                    min-height: 160px;
                  }
              }
            }
          // .pc-icon-wrapper{
          //   display: block;
          //   .pc-icon-container{
          //     display: grid;
          //     grid-template-columns: 122px 122px;
          //     grid-auto-rows: 122px ;
          //     gap: 10px 10px;
          //     justify-content: center;
          //     margin-bottom: 20px;
          //     overflow: scroll;
          //     height: 604px;
          //       .pc-gallery-thumbnail{
          //         height: 100%;
          //         width: 100%;
          //           img{
          //             object-fit: cover;
          //             width: 100%;
          //             height: 100%;
          //           }
          //       }
          //   }
          // }
          .icon-wrapper{
            
            .icon-container{
              // border: 7px solid silver;
              // grid-template-columns: 122px 122px; 
              grid-template-columns: repeat(2, 122px);
              grid-template-rows: 122px;
              grid-auto-rows: 122px;
              gap: 10px 10px;
              height: 604px;
                .gallery-thumbnail{
                  height: 100%;
                  width: 100%;
                    img{
                      object-fit: cover;
                      width: 100%;
                      height: 100%;
                    }
                }
            }
          }
        }  
        // .sp-icon-wrapper{
        //   display: none;
        // }
      }
  }

}
