@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
}

body {
  font-family: 'Concert One', 'M PLUS 1p', cursive, sans-serif;
  font-size: 1.6em;
  color: #7C7C7C;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* -------------------------------------------- */
/* 共通設定*/
/* -------------------------------------------- */
/*インナー*/
.inner {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 4%;
}

@media (min-width: 1024px) {
  .inner {
    padding: 0;
  }
}

/*インナーここまで*/
/*セクション*/
section {
  padding: 20px 0;
}

@media (min-width: 768px) {
  section {
    padding: 40px 0;
  }
}

@media (min-width: 1024px) {
  section {
    padding: 60px 0;
  }
}

/*セクションここまで*/
/*各セクションの見出し*/
.section-heading {
  color: #7C7C7C;
  font-size: 3rem;
  letter-spacing: 0.1em;
  line-height: 1.2;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 4.8rem;
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .section-heading {
    margin-bottom: 60px;
  }
}

/*各セクションの見出しここまで*/
/*スライド用CSS*/
.gallery-right-image {
  display: none;
}

.active {
  display: block;
}

/*スライド用CSSここまで*/
/*サムネイル画像*/
.work-thumbnail:hover, .sp-gallery-thumbnail:hover, .pc-gallery-thumbnail:hover {
  opacity: .8;
  cursor: pointer;
}

/* -------------------------------------------- */
/* ▼スマホ*/
/* -------------------------------------------- */
/* -------------------------------------------- */
/* header*/
/* -------------------------------------------- */
#topPage {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bg .main_img {
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-animation: anime 36s 0s infinite;
          animation: anime 36s 0s infinite;
  opacity: 0;
}

.main_img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.main_img:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.main_img:nth-of-type(4) {
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
}

.main_img:nth-of-type(5) {
  -webkit-animation-delay: 24s;
  animation-delay: 24s;
}

.main_img:nth-of-type(6) {
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}

/*animation keyframe*/
@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*animation keyframeここまで*/
header .header-nav {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4%;
  background-color: rgba(184, 172, 200, 0.5);
  height: 50px;
  border-top: 6px solid #B3D3DB;
  border-bottom: 6px solid #B3D3DB;
  z-index: 2;
  position: absolute;
}

header .header-nav li:last-child {
  margin-right: 0;
}

header .header-nav li a {
  display: inline-block;
  line-height: 1.25;
  letter-spacing: 0.1em;
  color: #fff;
  position: relative;
  overflow: hidden;
  font-size: calc(1.4rem + ((1vw - 0.375rem) * 3.0769));
  min-height: 0vw;
}

header .header-nav li a .border {
  position: absolute;
  display: block;
  width: 2px;
  background-color: #fff;
  overflow: hidden;
  -webkit-transition: .4s;
  transition: .4s;
}

header .header-nav li a .border.bottom {
  width: 100%;
  right: 0;
  bottom: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

header .header-nav li a:hover .border {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  height: 3px;
}

header .fas {
  margin-left: 4px;
}

/* -------------------------------------------- */
/* works*/
/* -------------------------------------------- */
.works {
  background: url(../images/p_pt_0225_m_pt.jpg);
  background-attachment: fixed;
}

.works .works-wrapper {
  text-align: right;
}

.works .works-wrapper .section-heading {
  text-align: left;
}

.works .works-wrapper .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 100px 100px;
      grid-template-columns: 100px 100px 100px;
  -ms-grid-rows: 100px 100px 100px 100px;
      grid-template-rows: 100px 100px 100px 100px;
  gap: 8px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.works .works-wrapper .grid-container .work-thumbnail {
  height: 100%;
  width: 100%;
}

.works .works-wrapper .grid-container .work-thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  height: 100px;
}

.works .works-wrapper .moreBtn {
  display: inline-block;
  font-size: 2rem;
  border-bottom: 2px solid #7c7c7c;
  letter-spacing: 0.1em;
}

.works .works-wrapper .moreBtn:hover {
  opacity: .8;
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}

.modal #big {
  position: absolute;
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  left: 0;
  right: 0;
}

.modal #big .fa-times {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}

/* -------------------------------------------- */
/* prof*/
/* -------------------------------------------- */
.prof {
  background-color: #B3D3DB;
}

.prof .prof-wrapper .prof-img-wrapper {
  margin-bottom: 16px;
  width: 345px;
  margin: 0 auto 20px;
}

.prof .prof-wrapper .prof-img-wrapper img {
  width: 345px;
  height: 213px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 46px;
}

.prof .prof-wrapper .prof-text-wrapper {
  font-size: 1.6rem;
  width: 315px;
  margin: 0 auto;
}

.prof .prof-wrapper .prof-text-wrapper li:not(:last-child) {
  margin-bottom: 16px;
}

.prof .prof-wrapper .prof-text-wrapper .name {
  font-weight: bold;
}

.prof .prof-wrapper .prof-text-wrapper .intro {
  margin-bottom: 16px;
}

.prof .prof-wrapper .prof-text-wrapper .link .fab {
  color: #00acee;
}

.prof .prof-wrapper .prof-text-wrapper .link a {
  color: blue;
}

/* -------------------------------------------- */
/* contact*/
/* -------------------------------------------- */
.contact-wrapper p {
  margin-bottom: 30px;
  text-align: center;
}

.contact-wrapper form label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 8px;
  letter-spacing: 0.1em;
}

.contact-wrapper form input, .contact-wrapper form textarea {
  width: 100%;
  height: 40px;
  border: 1px #333 solid;
  border-radius: 5px;
  margin-bottom: 16px;
}

.contact-wrapper form textarea {
  height: 160px;
  margin-bottom: 20px;
}

.contact-wrapper form .btn {
  background-color: #B8ACC8;
  color: #fff;
  display: block;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 2rem;
  letter-spacing: 0.1em;
}

.contact-wrapper form .btn:hover {
  opacity: .8;
}

/* -------------------------------------------- */
/* footer*/
/* -------------------------------------------- */
footer {
  background-color: #B3D3DB;
  color: #7C7C7C;
  text-align: center;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 1.2rem;
  position: relative;
}

footer .to-top {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #fff;
  bottom: 10px;
  right: 0;
}

footer .to-top .fas {
  text-align: center;
  line-height: 50px;
}

/* -------------------------------------------- */
/* galleryPage*/
/* -------------------------------------------- */
.gallery {
  padding-top: 60px;
  position: relative;
  background: url(../images/p_pt_0225_m_pt.jpg);
}

.gallery .gallery-wrapper h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}

.gallery .gallery-wrapper .gallery-container .pc-icon-wrapper {
  display: none;
}

.gallery .gallery-wrapper .gallery-container .gallery-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper {
  width: 46%;
}

.gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper .gallery-image li {
  height: 284px;
  width: 100%;
  min-width: 160px;
}

.gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper .gallery-image li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper .gallery-image-explain {
  display: none;
}

.gallery .gallery-wrapper .sp-icon-wrapper .sp-icon-container {
  display: -ms-grid;
  display: grid;
  gap: 10px 10px;
  -ms-grid-columns: (100px)[7];
      grid-template-columns: repeat(7, 100px);
  -ms-grid-rows: 100px 100px;
      grid-template-rows: 100px 100px;
  overflow: scroll;
  width: 100%;
}

.gallery .gallery-wrapper .sp-icon-wrapper .sp-icon-container .sp-gallery-thumbnail {
  height: 100%;
  width: 100%;
}

.gallery .gallery-wrapper .sp-icon-wrapper .sp-icon-container .sp-gallery-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px) {
  /* -------------------------------------------- */
  /* header*/
  /* -------------------------------------------- */
  #topPage {
    height: 545px;
  }
  header .header-nav {
    height: 70px;
  }
  header .header-nav li a {
    font-size: 3.2rem;
  }
  /* -------------------------------------------- */
  /* works*/
  /* -------------------------------------------- */
  .works .works-wrapper .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 200px 200px;
        grid-template-columns: 200px 200px 200px;
    -ms-grid-rows: 200px 200px 200px 200px;
        grid-template-rows: 200px 200px 200px 200px;
    margin-bottom: 30px;
  }
  .works .works-wrapper .grid-container .work-thumbnail {
    height: 100%;
    width: 100%;
  }
  .works .works-wrapper .grid-container .work-thumbnail img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 200px;
    height: 200px;
  }
  .works .works-wrapper .moreBtn {
    font-size: 3.2rem;
    border-bottom: 4px solid #7c7c7c;
  }
  .modal #big {
    width: 70%;
    max-width: 800px;
  }
  .modal #big .fa-times {
    font-size: 4rem;
  }
  /* -------------------------------------------- */
  /* prof*/
  /* -------------------------------------------- */
  .prof .prof-wrapper .prof-img-wrapper {
    width: 573px;
    margin: 0 auto 30px;
  }
  .prof .prof-wrapper .prof-img-wrapper img {
    width: 573px;
    height: 275px;
  }
  .prof .prof-wrapper .prof-text-wrapper {
    font-size: 2rem;
    padding: 0;
    margin: 0 auto;
    width: 573px;
  }
  /* -------------------------------------------- */
  /* contact*/
  /* -------------------------------------------- */
  .contact-wrapper p br {
    display: none;
  }
  .contact-wrapper form {
    width: 570px;
    margin: 0 auto;
  }
  .contact-wrapper form label {
    font-size: 2rem;
  }
  .contact-wrapper form .btn {
    margin: 0 auto;
    width: 180px;
  }
  /* -------------------------------------------- */
  /* footer*/
  /* -------------------------------------------- */
  footer {
    font-size: 1.4rem;
  }
  /* -------------------------------------------- */
  /* galleryPage*/
  /* -------------------------------------------- */
  .gallery {
    padding-top: 90px;
    position: relative;
  }
  .gallery .gallery-wrapper h1 {
    font-size: 5.6rem;
    margin-bottom: 30px;
  }
  .gallery .gallery-wrapper .gallery-container {
    margin-bottom: 30px;
  }
  .gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper {
    width: 48%;
    position: relative;
  }
  .gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper .gallery-image li {
    width: 100%;
    height: 453px;
  }
  .gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper .gallery-image li img {
    width: 100%;
    height: 100%;
  }
  .gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper .gallery-image-explain {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    width: 76%;
    padding: 16px 16px 0;
    position: absolute;
    right: 0;
    top: 58%;
    font-family: 'M PLUS 1p';
    min-height: 150px;
  }
  .gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper .gallery-image-explain .works-name, .gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper .gallery-image-explain .chara-name {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 8px;
    color: #000;
  }
  .gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper .gallery-image-explain .explain {
    font-size: 1.4rem;
    color: #000;
  }
  .gallery .gallery-wrapper .gallery-container .sp-icon-wrapper .sp-icon-container {
    gap: 16px 16px;
    -ms-grid-columns: (200px)[14];
        grid-template-columns: repeat(14, 200px);
    -ms-grid-rows: 200px;
        grid-template-rows: 200px;
    grid-auto-flow: rows;
  }
  .gallery .gallery-wrapper .gallery-container .sp-icon-wrapper .sp-icon-container .sp-gallery-thumbnail {
    height: 100%;
    width: 100%;
  }
  .gallery .gallery-wrapper .gallery-container .sp-icon-wrapper .sp-icon-container .sp-gallery-thumbnail img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/* ------------------------------------ */
/* ▼PC用 */
/* ------------------------------------ */
@media (min-width: 1024px) {
  /* -------------------------------------------- */
  /* header*/
  /* -------------------------------------------- */
  #topPage {
    height: 812px;
  }
  header .header-nav li a {
    font-size: 3.2rem;
  }
  /* -------------------------------------------- */
  /* works*/
  /* -------------------------------------------- */
  .works .works-wrapper .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 200px 200px 200px;
        grid-template-columns: 200px 200px 200px 200px;
    -ms-grid-rows: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
    margin-bottom: 60px;
  }
  .works .works-wrapper .grid-container .work-thumbnail {
    height: 100%;
    width: 100%;
  }
  .modal #big {
    width: 35%;
    max-width: 800px;
  }
  .modal #big .fa-times {
    font-size: 4rem;
  }
  /* -------------------------------------------- */
  /* prof*/
  /* -------------------------------------------- */
  .prof {
    height: 605px;
  }
  .prof .prof-wrapper .prof-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prof .prof-wrapper .prof-container .prof-img-wrapper {
    width: 367px;
    margin: 0;
  }
  .prof .prof-wrapper .prof-container .prof-img-wrapper img {
    width: 367px;
    height: 275px;
  }
  .prof .prof-wrapper .prof-container .prof-text-wrapper {
    font-size: 2rem;
    padding: 16px;
    width: 573px;
    margin: 0;
  }
  /* -------------------------------------------- */
  /* contact*/
  /* -------------------------------------------- */
  .contact-wrapper p {
    margin-bottom: 60px;
    text-align: center;
  }
  .contact-wrapper p br {
    display: none;
  }
  .contact-wrapper form input, .contact-wrapper form textarea {
    width: 100%;
    margin-bottom: 30px;
  }
  /* -------------------------------------------- */
  /* galleryPage*/
  /* -------------------------------------------- */
  .gallery {
    position: relative;
  }
  .gallery .gallery-wrapper h1 {
    font-size: 10rem;
    margin-bottom: 40px;
  }
  .gallery .gallery-wrapper .gallery-container {
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery .gallery-wrapper .gallery-container .gallery-image-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper {
    width: 340px;
    position: relative;
  }
  .gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper:first-child {
    margin-right: 15px;
  }
  .gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper .gallery-image
li {
    height: 604px;
    width: 100%;
  }
  .gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper .gallery-image
li img {
    width: 100%;
    height: 100%;
  }
  .gallery .gallery-wrapper .gallery-container .gallery-image-container .gallery-image-wrapper .gallery-image-explain {
    top: 67%;
    min-height: 160px;
  }
  .gallery .gallery-wrapper .gallery-container .sp-icon-wrapper .sp-icon-container {
    -ms-grid-columns: (122px)[2];
        grid-template-columns: repeat(2, 122px);
    -ms-grid-rows: 122px;
        grid-template-rows: 122px;
    grid-auto-rows: 122px;
    gap: 10px 10px;
    height: 604px;
  }
  .gallery .gallery-wrapper .gallery-container .sp-icon-wrapper .sp-icon-container .sp-gallery-thumbnail {
    height: 100%;
    width: 100%;
  }
  .gallery .gallery-wrapper .gallery-container .sp-icon-wrapper .sp-icon-container .sp-gallery-thumbnail img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */